$avatar-prefix-cls: '#{$css-prefix}avatar';

@mixin avatar-size($size, $fontSize) {
  width: $size;
  height: $size;
  font-size: $fontSize;
}

.#{$avatar-prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: center;

  &-shape-circle {
    border-radius: 50%;
  }
  &-shape-square {
    border-radius: 4px;
  }

  &-size-tiny {
    @include avatar-size(32px, 12px);
  }

  &-size-small {
    @include avatar-size(40px, 14px);
  }

  &-size-medium {
    @include avatar-size(48px, 16px);
  }

  &-size-large {
    @include avatar-size(56px, 18px);
  }
}
