$card-prefix-cls: '#{$css-prefix}card';

.#{$card-prefix-cls} {
  padding: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  &-bordered{
    border: 1px solid rgba(213, 218, 230, 0.6);
  }
  &-hoverable{
    &:hover{
      box-shadow: 0px 8px 30px rgba(135, 140, 153, 0.2);
    }
  }
  &-header{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    .title{
      font-size: 22px;
      font-weight: bold;
      flex: 1;
      margin: 0;
    }
    .extra{

    }
  }
  &-content{
  }
}
