$space-prefix-cls: '#{$css-prefix}space';

.#{$space-prefix-cls} {
  display: flex;

  @at-root #{unify-selector(&, &-vertical)} {
    flex-direction: column;
  }

  @at-root #{unify-selector(&, &-inline)} {
    display: inline-flex;
  }

  @each $item in $bee__aligns {
    $align-cls: &-align-#{$item};
    @at-root #{unify-selector(&, $align-cls)} {
      align-items: $item;
    }
  }

}
