// DEFINITION
// css前缀
$css-prefix: 'bee__';

// SIZE
// 极小
$bee__size_tiny: 28px;
// 小
$bee__size_small: 32px;
// 中
$bee__size_medium: 36px;
// 大
$bee__size_large: 40px;

// FONT
// 极小
$bee__font_size_tiny: 12px;
// 小
$bee__font_size_small: 14px;
// 中
$bee__font_size_medium: 16px;
// 大
$bee__font_size_large: 18px;


// COLOR
// 基础 蜂黄 Primary色
$bee__yellow: #FFCC1C;
// 基础 墨绿
$bee__blackish_green: #002B00;
// 基础 反色白
$bee__inverse: #FFFFFF;
// 基础 暖橙 Info色
$bee__blue: #286EFA;
// 基础 绿 Success色
$bee__green: #54B862;
// 基础 暖橙 Warning色
$bee__orange: #FF7D0F;
// 基础 红 Error色
$bee__red: #FF6100;
// 基础 白
$bee__white: #FFFFFF;
// 基础 黑
$bee__black: #000000;

// align-items 对齐方式
$bee__aligns: start, end, center, baseline, stretch;
