@mixin space-align($align) {
  align-items: $align;
}

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin circle($size) {
  @include size($size, $size);
  border-radius: 50%;
}
